# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
.angular/cache
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/mochawesome-report/*

# System Files
.DS_Store
Thumbs.db

# Sonar
sonar.log
.scannerwork
sonar-project.properties

# Documentation
/documentation
launch.json
.scannerwork/*

# Cypress
/mochawesome-report
cypress/videos
cypress/screenshots

# stryker temp files
/reports/mutation
.stryker-tmp
